# .env.example
# Copy this file to .env at the root of the project
# Ensure you provide the appropriate API keys

# Server Configurations
PORT=5001
MONGO_URI=mongodb://database:27017/streamit

# API Keys (Required for functionality)
TMDB_API_KEY=c50110df734c533de4401c213b5e4151
WATCHMODE_API_KEY=HE59PQO744pMS4CWWjaJWlxSPX1zrLdtaXv6PJ4V
