# .env.example
# Copy this file to .env at the root of the project
# Ensure you provide the appropriate API keys

# Server Configurations
PORT=5001
MONGO_URI=mongodb://database:27017/streamit

# API Keys (Required for functionality)
TMDB_API_KEY=your_tmdb_api_key_here
WATCHMODE_API_KEY=your_watchmode_api_key_here
